body {
  margin: 0;
  background-color: #f1f2ee;
  background-color: #fff;
}

header {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  align-items: center;
  background-color: #022b3a;
  background-color: #fff;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

/* a:visited {
  color: #fff;
} */

header > h1 {
  margin: 0;
  cursor: pointer;
}

#navbar {
  width: 40%;
}

#navbar > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#navbar > ul > li {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

#products {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.product {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}

.product-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

.product-bottom > button {
  width: 100%;
  font-size: 24px;
  color: #fff;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: black;
}

.price {
  text-align: center;
  flex: 1;
}

@media (max-width: 1000px) {
  .product {
    width: 45%;
  }
}

@media (max-width: 750px) {
  .product {
    width: 100%;
  }
}

#cart-subheader {
  background-color: #fff;
  margin-top: 0;
  text-align: center;
  padding: 15px;
}

#cart-wrapper {
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.cart-item {
  display: flex;
  flex-flow: row wrap;
  width: 60vw;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px;
}

.cart-item > img {
  max-width: 5vh;
}

.cart-item > p {
  align-self: center;
  word-wrap: break-word;
}

.item-controls {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
}

.item-controls > input {
  width: 30px;
}

.item-controls > button {
  cursor: pointer;
}

#product-component {
  height: 100vh;
}

#current-item {
  background-color: green;
  display: flex;
  flex-flow: row;
}

.product-page-pic {
  max-width: 50vw;
  max-height: 60vh;
}

#add-to-cart {
  margin: 15px;
  cursor: pointer;
}

#cart-empty {
  text-align: center;
}
